.selected{
    background-color: yellow;
}

table{
    border: 1px solid black;
    border-collapse: collapse;
}
tr, td{
    padding: 30px;
    border: 1px solid black;
    border-collapse: collapse;
}